.header {
  grid-area: header;
}

.article {
  grid-area: article;
}

@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    height: 97vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 2fr 1fr;
    gap: 10px;
    grid-template-areas:
      "header"
      "article"
      "section"
      "aside"
      "footer";
  }

  .grid-item {
    text-align: left;
  }

  .header {
    grid-column: span 2;
    order: 0;
  }

  .aside {
    order: 0;
  }

  .article {
    order: 2;
  }
  .section {
    grid-column: span 2;
  }

  .footer {
    grid-column: span 2;
  }
}

@media (min-width: 512px) and (max-width: 1023px) {
  .grid-container {
    display: grid;
    height: 97vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr 2fr 1fr;
    gap: 10px;
    grid-template-areas:
      "header"
      "article"
      "section"
      "aside"
      "footer";
  }

  .grid-item {
    text-align: left;
  }

  .section {
    grid-column: span 2;
  }

  .footer {
    grid-column: span 2;
  }

  .header {
    grid-column: span 2;
  }
}

@media (max-width: 511px) {
  .grid-container {
    display: grid;
    height: 97vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr 1fr;
    gap: 10px;
    grid-template-areas:
      "header"
      "article"
      "section"
      "aside"
      "footer";
  }

  .header {
    grid-area: header;
  }

  .article {
    grid-area: article;
  }

  .section {
    grid-area: section;
  }

  .aside {
    grid-area: aside;
  }

  .footer {
    grid-area: footer;
  }

  .grid-item {
    text-align: left;
  }
}
