/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */
li {
  font-weight: bold;
}
.dog {
  color: magenta;
}
#cat {
  color: turquoise;
}
.parrot {
  color: limegreen;
}
.donkey {
  color: rgb(105, 105, 207);
}
.hedgehog {
  color: magenta;
}
.hedgehog + li {
  color: rgb(105, 105, 207);
}

/* Use descendant, child, and sibling selectors for the second part */

.first {
  color: limegreen;
}

.first ~ li {
  color: magenta;
}

.second + li {
  color: rgb(105, 105, 207);
}

.list-cleaning li {
  color: limegreen;
  font-weight: bold;
}
